<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <script src="/js/websocket.js"></script>
    <title>Add medicine</title>
</head>
<body>
    <!------------user-->
    <%= surname %> <%= firstname %> <%= middle_initial %> <%= profession %>

    <!---------logout-->
    <form action="/logout?_method=DELETE" method="POST">
      <div>
        <button type="submit">Log out</button>
      </div>
    </form>
    <form action="/pharmacy/inventory" method="GET">
        <button type="submit">Home</button>
      </form>
      <!--------beneficiary records-->
      <form action="/pharmacy/beneficiary-records" method="GET">
        <button type="submit">Beneficiary List</button>
      </form>
      <!------------dispense-->
      <form action="/pharmacy/dispense" method="GET">
        <button type="submit">Dispense</button>
      </form>
      <!------------add medicine-->
      <form action="/pharmacy/add-medicine" method="GET">
        <button type="submit">Add medicine</button>
      </form>
<h1>ADD MEDICINE</h1>
    <form action="/pharmacy/add-medicine" method="POST">
      <input type="text" name="product_id" placeholder="product id">
      <input type="text" name="product_code" placeholder="product code">
      <input type="text" name="product_name" placeholder="product name">
      <input type="text" name="brand_name" placeholder="brand name">
      <input type="text" name="supplier" placeholder="supplier">
      <input type="text" name="dosage_form" placeholder="dosage form">
      <input type="text" name="dosage" placeholder="dosage">
      <input type="number" name="reorder_level" placeholder="reorder level">
      <input type="text" name="batch_number" placeholder="batch number">
      <input type="date" name="date_added" placeholder="date added">
      <input type="date" name="expiration" placeholder="expiration">
      <input type="number" name="product_quantity" placeholder="quantity">
      <button type="submit">Add medicine</button>
    </form>
</body>
</html>