<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>

    <link rel="stylesheet" href="/css/login-form.css">
    <title>Login</title>
</head>
<body>
    <main>
        <% if (error_msg && error_msg.length > 0) { %>
            <div class="flash-messages">
                <% error_msg.forEach(function(message) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% }) %>
            </div>
        <% } %>
        <form action="/login" method="post">
            <div id="user_type" name="user_type">
                <div><button type="button" value="doctor" onclick="hideUserType(this.value)">Doctor</button></div>
                <div><button type="button" value="nurse" onclick="hideUserType(this.value)">Nurse</button></div>
                <div><button type="button" value="medtech" onclick="hideUserType(this.value)">Medtech</button></div>
                <div><button type="button" value="pharmacist" onclick="hideUserType(this.value)">Pharmacy</button></div>
            </div>
            <div id="login-form" style="display:none;">
                <input type="hidden" id="user_type_input" name="user_type" value="">
                <label for="username">Username</label>
                <input id="username" name="username" required>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" required>
                <button type="submit">Login</button>
            </div>
        </form>
    </main>
    <script src="/js/login-func.js"></script>
</body>
</html>
