<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Nurse</title>
</head>
<body>
    <!------------user-->
    <%= surname %> <%= firstname %> <%= middle_initial %> <%= profession %>
    <!---------------logout---------------->
    <form action="/logout?_method=DELETE" method="POST">
        <div> 
          <button type="submit">Log out</button>
        </div>
    </form>

    <!-------------------scanner------------------->
    <button onclick="window.location.href='scanner'">
        Scan QR code
    </button>
    <!---------------------generate id and search id------------------>
 
    <form action="/nurse/send-patient-info" method="post">
        <h1>PATIENT INFO</h1>
        <label for="qrResultInput"><input type="text" id="idInput" name="unq_id" value="" placeholder="Enter ID" required>UniqueID:</label>
        <button id="generateButton" type="button">Generate ID</button>
        <button id="searchButton" type="button">Search ID</button>

        <label for="date"><input type="date" id="check_date" name="check_date"> Date</label>
        <label for="last_name"><input type="text" id="last_name" name="last_name">Lastname</label>
        <label for="first_name"><input type="text" id="first_name" name="first_name">Firstname</label>
        <label for="middle_name"><input type="text" id="middle_name" name="middle_name">Middlename</label>
        <label for="address"><input type="text" id="address" name="address">Home no./Street</label>
        <label for="barangay"><input type="text" id="barangay" name="barangay">Barangay</label>
        <label for="town"><input type="text" id="town" name="town">Town</label>
        <label for="birthdate"><input type="date" id="birthdate" name="birthdate">Birthdate</label>
        <label for="gender"><input type="text" id="gender" name="gender">Gender</label>
        <label for="phone"><input type="text" id="phone" name="phone">Phone</label>
        <label for="email"><input type="email" id="email" name="email">Email</label>
        <label for="philhealth_no"><input type="text" id="philhealth_no" name="philhealth_no">Philhealth no</label>
        <label for="occupation"><input type="text" id="occupation" name="occupation">Occupation</label>
        <label for="guardian"><input type="text" id="guardian" name="guardian">Guardian</label>
        

        <h1>VITAL SIGNS</h1>

        <label for="height"><input type="text" id="height" name="height">Height</label>
        <label for="weight"><input type="text" id="weight" name="weight">Weight</label>
        <label for="temperature"><input type="text" id="temperature" name="temperature">Temperature</label>
        
        <div>
            <label for="bp">
                <input type="text" id="systolic" name="systolic" placeholder="systolic">
                <input type="text" id="diastolic" name="diastolic" placeholder="diastolic">
                Blood pressure</label>  
        </div>

        <label for="pulse_rate"><input type="text" id="pulse_rate" name="pulse_rate">Pulse rate</label>
        <label for="respiratory_rate"><input type="text" id="respiratory_rate" name="respiratory_rate">Respiratory rate</label>
        <label for="bmi"><input type="text" id="bmi" name="bmi">BMI</label>
        <label for="comment"><input type="text" id="comment" name="comment">Comment</label>
        
        <br>
        <input type="submit" value="Submit">

    </form>
    <script src="/js/websocket.js"></script>
    <script src="/js/nurse-scanned.js"></script>
</body>
</html>
