<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>
    <title>Nurse</title>
</head>
<body>
        <!------------user-->
        <%= surname %> <%= firstname %> <%= middle_initial %> <%= profession %>
        <!---------------logout---------------->
    <form action="/logout?_method=DELETE" method="POST">
        <div> 
          <button type="submit">Log out</button>
        </div>
    </form>

    <!-------------------scanner------------------->
    <button onclick="window.location.href='scanner'">
        Scan QR code
    </button>
    <form action="/nurse/send-patient-info" method="post">
        <h1>PATIENT INFO</h1>
        <label for="qrResultInput">Unique ID:</label>
        <input type="text" id="qrResultInput" name="unq_id" value="" readonly>
        <label for="last_name">Lastname</label>
        <input type="text" id="last_name" name="last_name" required>
        <label for="first_name">Firstname</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="middle_name">Middlename</label>
        <input type="text" id="middle_name" name="middle_name" required>
        <label for="address">Home no./Street</label>
        <input type="text" id="address" name="address" required>
        <label for="barangay">Barangay</label>
        <input type="text" id="barangay" name="barangay" required>
        <label for="town">Town</label>
        <input type="text" id="town" name="town" required>
        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate" required>
        <label for="gender">Gender</label>
        <input type="text" id="gender" name="gender" required>
        <label for="phone">Phone</label>
        <input type="text" id="phone" name="phone" required>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
        <label for="philhealth_no">Philhealth no</label>
        <input type="text" id="philhealth_no" name="philhealth_no" required>
        <label for="occupation">Occupation</label>
        <input type="text" id="occupation" name="occupation" required>
        <label for="guardian">Guardian</label>
        <input type="text" id="guardian" name="guardian" required>

        <h1>VITAL SIGNS</h1>

        <label for="height">Height</label>
        <input type="text" id="height" name="height" required>
        <label for="weight">Weight</label>
        <input type="text" id="weight" name="weight" required>
        <label for="temperature">Temperature</label>
        <input type="text" id="temperature" name="temperature" required>
        <div>
            <label for="bp">Blood pressure</label>
            <input type="text" id="systolic" name="systolic" required placeholder="systolic">
            <input type="text" id="diastolic" name="diastolic" required placeholder="diastolic">
        </div>
        <label for="pulse_rate">Pulse rate</label>
        <input type="text" id="pulse_rate" name="pulse_rate" required>
        <label for="respiratory_rate">Respiratory rate</label>
        <input type="text" id="respiratory_rate" name="respiratory_rate" required>
        <label for="bmi">BMI</label>
        <input type="text" id="bmi" name="bmi" required>

        <label for="comment">Comment</label>
        <input type="text" id="comment" name="comment" required>
        <br>
        <input type="submit" value="Submit">

    </form>

    <script src="/js/nurse-scanned.js"></script>
</body>
</html>
