<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pharmacy</title>
  </head>
  <body>
    <!------------user-->
    <%= surname %> <%= firstname %> <%= middle_initial %> <%= profession %>

    <!---------logout-->
    <form action="/logout?_method=DELETE" method="POST">
      <div>
        <button type="submit">Log out</button>
      </div>
    </form>

    <!----------inventory-->
    <form action="/pharmacy/inventory" method="get">
      <button type="submit">Inventory</button>
    </form>

    <h1>PHARMACY</h1>
  </body>
</html>
